<div class="error-page">
  <div class="error-icon">!</div>
  <h2>Oops! Something went wrong</h2>
  <p class="error-details"><%= message %></p>
  <div class="error-actions">
    <a href="/" class="home-button">Go to Homepage</a>
  </div>
</div>