<div class="welcome-page">
  <div class="welcome-message">
    <h2>Welcome to <%= companyName %> WiFi</h2>
    <p>Please connect to our WiFi network to access the internet.</p>
  </div>
  
  <div class="instructions">
    <h3>How to Connect:</h3>
    <ol>
      <li>Connect to the "<%= companyName %> WiFi" network</li>
      <li>You will be automatically redirected to our login page</li>
      <li>Click the "Connect to Internet" button</li>
      <li>Enjoy your browsing experience!</li>
    </ol>
  </div>
</div>